@import '../_variables';

.nav {
    width: 100%;
    background: linear-gradient(to right, #001b48, #02457a, #018abe);

    .nav_container {
        max-width: 1240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        // Main Nav
        .main_nav {
            width: 100%;
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #f7fafc;

            .nav_logo {
                width: 25%;
                cursor: pointer;

                .name {
                    font-size: 2.5rem;
                }
            }

            .nav_menu {
                display: flex;
                width: 25%;
                justify-content: center;
                gap: 2rem;
                align-items: center;
                cursor: pointer;
                font-size: 1rem;
                font-family: $alata;
            }

            .nav_button {
                display: flex;
                width: 25%;
                justify-content: flex-end;
                font-size: 1.5rem;

                .nav_btn_icon {
                    color: #001b48;
                    background-color: #ecf0f3;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: background-color 0.2s ease, color 0.2s ease;
                }

                .nav_btn_icon:hover {
                    color: #1d344a;
                    background-color: #ffffff;
                }
            }

            @media (max-width: 768px) {

                .nav_menu,
                .nav_logo,
                .nav_button {
                    display: none;
                }
            }
        }



        // Mobile Logo
        .mobile_logo {
            font-size: 1.5rem;
        }

        @media (min-width: 769px) {

            // Main Nav
            .main_nav {


                .nav_logo {


                    .name {
                        font-size: 2rem;
                    }
                }
            }


            .mobile_logo {
                display: none;
            }
        }

        // Mobile nav
        .mobile_button {
            display: flex;
            width: 25%;
            justify-content: flex-end;
            font-size: 1.5rem;

            .nav_btn_icon {
                color: #001b48;
                background-color: #ecf0f3;
                border-radius: 50%;
                cursor: pointer;
                transition: background-color 0.2s ease, color 0.2s ease;
            }
        }

        @media (min-width: 769px) {

            .mobile_button {
                display: none;
            }
        }
    }



}

.sticky {
    .sticky {
        position: fixed;
        top: 0;
    }
}

// HERO

.hero {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;

    .hero_left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 4px;
        margin: 1rem;

        .hero_left_intro {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 3rem;
            line-height: 3rem;
            color: $dark;
        }

        .find_me_with {
            h4 {
                font-family: "Alata", sans-serif;
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.5;
                margin-top: 2.5rem;
                color: $dark;
            }

            .find_me_social {
                display: flex;
                flex-wrap: wrap;
                gap: 1.25rem;
                align-items: center;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                line-height: 1.5;


                .social_icon {
                    color: $dark;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    padding-left: 1.25rem;
                    padding-right: 1.25rem;
                    border-radius: 0.125rem;
                    box-shadow: 5px 5px 15px #afceff, -5px -5px 15px #ffffff;
                    transition: all 500ms ease-in-out;

                    i {
                        height: 10px;
                    }
                }

                .social_icon:hover {
                    background: linear-gradient(145deg, #3E5884, #02457a, #018abe);
                    color: white;
                }

            }
        }
    }

    .hero_right {
        width: 35%;
        margin: 0 0 0auto;
        display: flex;
        justify-content: flex-end;
        padding: 1rem 0 1rem 0;

        .hero_img {
            border: 1px solid #E5E7EB;
            border-radius: 9999px 0 0 9999px;
            border-top-right-radius: 32px;
            width: 80%;
            margin: 0 auto;
            border-color: #E5E7EB;
            background-color: rgb(1, 138, 190);
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

            div {
                img {
                    width: 400px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .hero {
        flex-direction: column;

        .hero_right,
        .hero_left {
            max-width: 500px;
            margin: 0 auto;
            width: 100%;
            padding: 0.5rem 0;
        }

        .hero_left {
            margin: 1rem 0;

            .hero_left_intro {
                font-size: 3rem;
                line-height: 3rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .hero {
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;

        .hero_right,
        .hero_left {
            width: 50%;
            // padding: 1rem;
        }

        .hero_left {
            margin: 1rem 0;
            margin-left: 1rem;

            .hero_left_intro {
                font-size: 1.8rem;
                line-height: 2.5rem;
            }
        }
    }
}

// What I Do
.what_i_do {
    background-color: $light;
    padding: 3rem 0;
    max-width: 1280px;
    margin: 1rem auto;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px 0;

        h4 {
            font-size: 2.5rem;
            color: $black;
            font-family: $alata;
        }


        .what_main {
            // flex justify-start items-top 
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            align-items: center;



            .what_left,
            .what_right {
                box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
                padding: 1.25rem;
                margin: 2rem auto;
                width: 90%;
                background-color: #f7fafc;
                border-radius: 10px;
                height: 300px;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;

                .what_icon {
                    color: $orange;
                    font-size: 1.5rem;
                }

                .what_title {
                    font-size: 1.25rem;
                    font-weight: 500;
                    text-align: center;
                }

                .what_para {
                    font-size: 0.9rem;
                    color: $medium;
                    padding-top: 1.25rem;
                    font-family: $poppins;
                    font-weight: 400;
                    width: 80%;
                    text-align: center;
                }
            }
        }

        @media (max-width: 767px) {
            h4 {
                font-size: 2rem;
            }

            .what_main {
                max-width: 767px;
                grid-template-columns: 1fr;

                .what_left,
                .what_right {
                    height: 400px;
                }
            }
        }

        @media (max-width: 1079px) {
            h4 {
                font-size: 2rem;
            }

            .what_main {
                max-width: 1000px;
                margin: 2rem 0;

                .what_left,
                .what_right {
                    margin: 0 auto;
                    height: 350px;
                    width: 90%;
                    padding: 1rem;
                }
            }
        }

    }


}

@media (max-width: 768px) {}

// Portfolio Section
.portfolio {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    h2 {
        font-family: $alata;
        font-size: 2.5rem;
        font-weight: 500;
        color: $black;
    }
}

// Single Portfolio
.single_portfolio {
    // background-color: #f9fafb;
    max-width: 1280px;
    margin: 1rem auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;

    .single1 {
        display: flex;
        gap: 2.5rem;
        align-items: center;
        padding: 2.5rem;
        background: linear-gradient(to right, rgb(236, 240, 243), #fff);
        border-radius: 0.375rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        box-shadow: -5px 10px 5px rgb(218, 218, 218);
        border: 1x solid rgb(218, 218, 218);
        height: 400px;

        .single_left,
        .single_right {
            width: 50%;
            padding: 1rem 1rem;

            img {
                height: auto;
                margin: 0 auto;
                width: 90%;
                object-fit: cover;
                border-radius: 0.375rem;
            }


            h5 {
                font-family: 'Poppins', sans-serif;
                font-size: 1.8rem;
                color: #1e293b;
                font: 600;
            }

            .single_topic {
                font-family: 'Poppins', sans-serif;
                font-size: 1rem;
                font-weight: 400;
                padding-top: 1.25rem;
                padding-bottom: 1.25rem;

                span {
                    font-weight: 500;
                    color: $black;
                }
            }

            .single_details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1rem;

                .single_topic {
                    font-family: 'Poppins', sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    padding-top: 1.25rem;
                    padding-bottom: 1.25rem;

                    span {
                        font-weight: 500;
                        color: $black;
                    }
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }
}

// -------------------------------------

@media (max-width: 600px) {
    .single_portfolio {
        max-width: 480px;
        margin: 0 auto;
        padding: 0.5rem;

        .single1 {
            flex-direction: column;
            align-items: center;
            max-width: 360px;
            margin: 0 auto;
            height: auto;
            padding: 1rem 5px;

            .single_left,
            .single_right {
                width: 90%;
                padding: 1rem 5px;

                h5 {
                    font-size: 25px;
                }

                img {
                    height: 400px;
                    // object-fit: cover;
                }
            }
        }
    }

}

@media (max-width: 768px) {
    .single_portfolio {
        max-width: 600px;
        margin: 0 auto;
        padding: 0.5rem;

        .single1 {
            flex-direction: column;
            align-items: center;
            max-width: 650px;
            margin: 0 auto;
            height: auto;
            padding: 1rem 5px;

            .single_left,
            .single_right {
                width: 100%;
                padding: 1rem;

                h5 {
                    font-size: 30px;
                }

                img {
                    height: 400px;
                    // object-fit: cover;
                }
            }
        }
    }

}

// Resume
.resume {
    padding: 3rem 0;
    max-width: 1240px;
    margin: 0 auto;

    .resume_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 20px;
        max-width: 1000px;
        margin: 0 auto;
        gap: 1rem;


        .resume_section {
            width: 100%;

            // background-color: #001b48;
            h4 {
                color: $black;
                padding-top: 2rem;
                padding-bottom: 2rem;
                font-size: 1.8rem;
            }

            .resume_part {
                display: flex;
                flex-direction: column;

                .part_top {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 4px;
                    padding-top: 5px;

                    .part_date {
                        border-radius: 2rem;
                        padding-left: 0.75rem;
                        padding-right: 0.75rem;
                        padding-top: 0.25rem;
                        padding-bottom: 0.25rem;
                        border: 2px solid $normal;
                        font-size: 0.875rem;
                        line-height: 1.5;
                        font-weight: 500;
                        color: #333333;
                    }

                    span {
                        margin-left: 1rem;
                        font-size: 1rem;
                        color: $dark;
                    }
                }

                .part_bottom {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 80%;
                    margin: 0.5rem auto;

                    h5 {
                        font-family: $alata;
                        text-align: center;
                        color: $dark;
                        font-size: 1.1rem;
                        // margin-left: 5px;
                    }

                    span {
                        color: rgb(107 114 128);
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

}

@media (max-width: 600px) {
    .resume {
        display: none;
    }
}

.resume_skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: light;
    padding-top: 1rem;
    max-width: 1000px;
    margin: 2rem auto;
    background-color: white;

    h4 {
        font-size: 2rem;
        font-weight: 600;
        color: $dark;
    }

    .skills_inner {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 2rem;
        font-size: 1rem;
        font-family: 'Alata', sans-serif;

        .skills_left,
        .skills_right {
            width: 500px;
            padding: 10px;
            // background-color: #001b48;

            .prog {
                height: 5px;
                background-color: $dark;

                div {
                    width: 75%;
                    height: 3px;
                    background-color: #afceff;
                }
            }

            .single_skill {
                margin: 3px 0;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .skill {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    h5 {
                        font-family: $alata;
                        font-size: 0.9rem;
                        font-weight: 600;
                        color: $dark;
                    }

                    span {
                        color: rgb(107 114 128);
                        font-size: 0.9rem;
                    }
                }
            }

            .progress_bar {
                width: 100%;
                background-color: rgb(214, 214, 214);
                height: 8px;
                border-radius: 5px;
                padding: 1px;

                .progress {
                    width: 100%;
                    background-color: $normal;
                    height: 5px;
                    margin: 1px;
                    border-radius: 5px;
                }

                .progress90 {
                    width: 90%;
                    background-color: $normal;
                    height: 5px;
                    margin: 1px;
                    border-radius: 5px;
                }

                .progress95 {
                    width: 95%;
                    background-color: $normal;
                    height: 5px;
                    margin: 1px;
                    border-radius: 5px;
                }

                .progress70 {
                    width: 70%;
                    background-color: $normal;
                    height: 5px;
                    margin: 1px;
                    border-radius: 5px;
                }

                .progress75 {
                    width: 75%;
                    background-color: $normal;
                    height: 5px;
                    margin: 1px;
                    border-radius: 5px;
                }

                .progress65 {
                    width: 65%;
                    background-color: $normal;
                    height: 5px;
                    margin: 1px;
                    border-radius: 5px;
                }

                .progress80 {
                    width: 80%;
                    background-color: $normal;
                    height: 5px;
                    margin: 1px;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .resume_skills{
        display: none;
    }
}

@media (max-width: 600px) {
    .resume_skills {
        max-width: 400px;

        .skills_inner {
            padding: 0;
            max-width: 350px;
            flex-direction: column;

            .skills_left,
            .skills_right {
                max-width: 350px;
                padding: 1rem;
            }
        }
    }
}


@media (max-width: 768px) {
    .resume_skills {
        max-width: 600px;

        .skills_inner {
            flex-direction: column;

            .skills_left,
            .skills_right {
                max-width: 550px;
            }
        }
    }
}