// font coor
$dark: #001b48;
$medium: #02457a;
$normal: #018abe;

// Text Color
$paragraph: #42566A;

// font-family
$alata: 'Alata', 'sans-serif';
$poppins: 'Poppins', 'sans-serif';
$ows: 'Oswald', 'sans-serif';
$hand: 'Parisienne', 'cursive';