// font coor
$dark: #001b48;
$medium: #02457a;
$normal: #018abe;
$light: rgb(236, 240, 243);
$orange: rgb(255, 87, 34);

// Text Color
$paragraph: #42566A;

// font-family
$alata: 'Alata', 'sans-serif';
$poppins: 'Poppins', 'sans-serif';
$ows: 'Oswald', 'sans-serif';
$hand: 'Parisienne', 'cursive';