@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');;

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
}

.abstruct {
    background-image: url('/src/assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: inherit;
}

.inner{
    cursor: pointer;
    box-shadow: inset 3px 2px 10px rgba(1, 138, 190, 0.3);
}

.inner:hover {
    /* box-shadow: 0px 5px 5px rgba(1, 138, 190, 0.5); */
    

    transition: box-shadow 0.5s;
    box-shadow: inset 10px 10px 10px rgba(1, 138, 190, 0.3);
    box-shadow: 0px 5px 5px rgba(1, 138, 190, 0.3);
}

.form{
    box-shadow: inset 3px 2px 10px rgba(1, 138, 190, 0.3);
}